<%- include('partials/header') %>

<%- include('partials/nav-panel') %>

<div id="main" class="main">
    <div class="carrier-rates-body">
        <div class="carrier-rates-form">
            <div class="report-button-group">
                <a href="/orders/view-order-id=<%= order._id %>" class="report-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                    Back
                </a>
                <a href="/logistics/print-carrier-ratesheet-id=<%= order._id %>" class="report-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg>
                    Print
                </a>
                <div class="report-button" onclick="openModal('add-carrier-rates-modal')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    Add
                </div>
            </div>
            <div class="flex-container carrier-rates-table">
                <table class="table table-secondary table-striped table-hover table-bordered fixed-head">
                    <thead>
                        <tr class="align-center">
                            <th scope="col" class="tbl-fixed-25">#</th>
                            <th scope="col" class="">Name</th>
                            <th scope="col" class="">Carrier</th>
                            <th scope="col" class="">Telephone #</th>
                            <th scope="col" class="">Date</th>
                            <th scope="col" class="">Notes</th>
                            <th scope="col" class="">Truck / Trailer</th>
                            <th scope="col" class="tbl-fixed-50">Asked</th>
                            <th scope="col" class="tbl-fixed-50">Quote</th>
                            <th scope="col" class="tbl-fixed-50">Equip</th>
                            <th scope="col" class="">Currency</th>
                            <th scope="col" class="" colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% order.carrierRates.forEach((rate, index) => { %>
                        <tr class="align-center">
                            <td><%= index + 1 %></td>
                            <td class="no-overflow"><%= rate.dispatchName %></td>
                            <td class="no-overflow"><%= rate.carrierName %></td>
                            <td class="no-overflow"><%= rate.carrierPhone %></td>
                            <td class="no-overflow"><%= rate.date %></td>
                            <td class="align-left comments" onclick="openModal('<%= rate._id %>-comments')"><%= rate.carrierNotes %></td>
                            <td class="no-overflow"><%= rate.carrierTruck %> / <%= rate.carrierTrailer %></td>
                            <td class="no-overflow"><%= rate.asked %></td>
                            <td class="no-overflow"><%= rate.carrierQuoteValue %></td>
                            <td class="no-overflow"><%= rate.carrierEquipment %></td>
                            <td class="no-overflow"><%= rate.carrierQuoteCurrency %></td>
                            <td class="table-options" onclick="openModal('<%= rate._id %>-view')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </td>
                            <td class="table-options">
                                <div onclick="openModal('<%= rate._id %>-edit')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </div>
                            </td>
                            <td class="table-options">
                                <div class="" onclick="openModal('<%= rate._id %>')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                    </svg>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="add-carrier-rates-modal" class="modal-frame">
    <form action="" method="post" autocomplete="off">
        <div class="modal-header">
            <h2>Add Rate</h2>
            <div class="close-button" onclick="closeModal('add-carrier-rates-modal')">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
        <div class="modal-body">
            <h2>Lane:</h2>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-xs">
                    <label for="name" class="form-label">Name:</label>
                    <input class="form-control" type="text" id="name" name="name" value="<%= lane.name %>" required>
                </div>
                <div class="input-sm">
                    <label for="quote" class="form-label">Quote #:</label>
                    <input class="form-control" type="text" id="quote" name="quote" value="<%= order.quoteNumber %>" required readonly>
                </div>
                <div class="input-sm">
                    <label for="date" class="form-label">Date:</label>
                    <input class="form-control" type="date" id="date" name="date" value="<%= todayDate %>">
                </div>
                <div class="input-sm">
                    <label for="pickupCity" class="form-label">From City:</label>
                    <input class="form-control" type="text" id="pickupCity" name="pickupCity" value="<%= lane.shipper.city %>">
                </div>
                <div class="input-xs">
                    <label for="pickupState" class="form-label">From State:</label>
                    <input class="form-control" type="text" id="pickupState" name="pickupState" value="<%= lane.shipper.state %>">
                </div>
                <div class="input-sm">
                    <label for="deliveryCity" class="form-label">To City:</label>
                    <input class="form-control" type="text" id="deliveryCity" name="deliveryCity" value="<%= lane.consignee.city %>">
                </div>
                <div class="input-xs">
                    <label for="deliveryState" class="form-label">To State:</label>
                    <input class="form-control" type="text" id="deliveryState" name="deliveryState" value="<%= lane.consignee.state %>">
                </div>
            </div>
            <h2>Carrier:</h2>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-md">
                    <label for="dispatchName" class="form-label">Dispatch Name:</label>
                    <input class="form-control" type="text" id="dispatchName" name="dispatchName">
                </div>
                <div class="input-lg">
                    <label for="carrierName" class="form-label">Carrier Name:</label>
                    <input class="form-control" type="text" id="carrierName" name="carrierName" required>
                </div>
                <div class="input-sm">
                    <label for="carrierPhone" class="form-label">Carrier Phone #:</label>
                    <input class="form-control" type="text" id="carrierPhone" name="carrierPhone">
                </div>
                <div class="input-sm">
                    <label for="carrierEquipment" class="form-label">Equipment:</label>
                    <input class="form-control" type="text" id="carrierEquipment" name="carrierEquipment" autocapitalize="Yes">
                </div>
            </div>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-sm">
                    <label for="asked" class="form-label">Asked:</label>
                    <input class="form-control" type="text" id="asked" name="asked">
                </div>
                <div class="input-sm">
                    <label for="carrierQuoteValue" class="form-label">Quote:</label>
                    <input class="form-control" type="text" id="carrierQuoteValue" name="carrierQuoteValue">
                </div>
                <div class="input-xs">
                    <label for="carrierQuoteCurrency" class="form-label">Currency:</label>
                    <select class="form-select" name="carrierQuoteCurrency" id="carrierQuoteCurrency">
                        <option value="CDN" selected>CDN</option>
                        <option value="USD">USD</option>
                    </select>
                </div>
                <div class="input-sm">
                    <label for="carrierQuote" class="form-label">Quote #:</label>
                    <input class="form-control" type="text" id="carrierQuote" name="carrierQuote">
                </div>
            </div>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-xs">
                    <label for="carrierTruck" class="form-label">Truck #:</label>
                    <input class="form-control" type="text" id="carrierTruck" name="carrierTruck">
                </div>
                <div class="input-xs">
                    <label for="carrierTrailer" class="form-label">Trailer #:</label>
                    <input class="form-control" type="text" id="carrierTrailer" name="carrierTrailer">
                </div>
                <div class="input-xs">
                    <label for="pickupDate" class="form-label">Pick-up Date:</label>
                    <input class="form-control" type="text" id="pickupDate" name="pickupDate">
                </div>
                <div class="input-xs">
                    <label for="deliveryDate" class="form-label">Delivery Date:</label>
                    <input class="form-control" type="text" id="deliveryDate" name="deliveryDate">
                </div>
                <div class="input-xs">
                    <label for="papsPars" class="form-label">PAPS / PARS:</label>
                    <input class="form-control" type="text" id="papsPars" name="papsPars">
                </div>
                <div class="input-xs">
                    <label for="crossing" class="form-label">Crossing:</label>
                    <input class="form-control" type="text" id="crossing" name="crossing">
                </div>
            </div>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-lg">
                    <label for="carrierNotes" class="form-label">Notes:</label>
                    <textarea name="carrierNotes" id="carrierNotes" rows="4" cols="" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-button-group">
                <button class="modal-button">Submit</button>
                <div onclick="closeModal('add-carrier-rates-modal')" class="modal-button">Cancel</div>
            </div>
        </div>
    </form>
</div>
<% order.carrierRates.forEach((rate, index) => { %>
    <div id="<%= rate._id %>-comments" class="modal-frame">
        <div class="modal-header">
            <h3>Line <%= index + 1 %> - Comments</h3>
            <div class="close-button" onclick="closeModal('<%= rate._id %>-comments')">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
        <div class="modal-body">
            <p><%= rate.carrierNotes %></p>
        </div>
    </div>
    <div id="<%= rate._id %>" class="modal-frame">
        <div class="modal-header">
            <h3>Delete Rate?</h3>
            <div class="close-button" onclick="closeModal('<%= rate._id %>')">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
        <div class="modal-body">
            <div class="modal-body-text">
                <h3>Are you sure you would like to delete <%= rate.carrierName %>?</h2>
            </div>
            <div class="modal-button-group">
                <a href="/orders/order=<%= order._id %>/delete-line-id=<%= rate._id %>" class="modal-button">Yes</a>
                <button class="modal-button" onclick="closeModal('<%= rate._id %>')">Cancel</button>
            </div>
        </div>
    </div>
    <div id="<%= rate._id %>-edit" class="modal-frame modal-frame-expanded">
        <form action="/orders/order=<%= order._id %>/edit-line-id=<%= rate._id %>" method="post" autocomplete="off">
            <div class="modal-header">
                <h2>Edit Rate</h2>
                <div class="close-button" onclick="closeModal('<%= rate._id %>-edit')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
            </div>
            <div class="modal-body">
                <h2>Lane:</h2>
                <div class="flex-container flex-row flex-start gap-25">
                    <div class="input-xs">
                        <label for="name" class="form-label">Name:</label>
                        <input class="form-control" type="text" id="name" name="name" value="<%= rate.name %>" required>
                    </div>
                    <div class="input-sm">
                        <label for="quote" class="form-label">Quote #:</label>
                        <input class="form-control" type="text" id="quote" name="quote" value="<%= rate.quote %>" required readonly>
                    </div>
                    <div class="input-sm">
                        <label for="date" class="form-label">Date:</label>
                        <input class="form-control" type="date" id="date" name="date" value="<%= rate.date %>">
                    </div>
                    <div class="input-sm">
                        <label for="pickupCity" class="form-label">From City:</label>
                        <input class="form-control" type="text" id="pickupCity" name="pickupCity" value="<%= rate.shipper.city %>">
                    </div>
                    <div class="input-xs">
                        <label for="pickupState" class="form-label">From State:</label>
                        <input class="form-control" type="text" id="pickupState" name="pickupState" value="<%= rate.shipper.state %>">
                    </div>
                    <div class="input-sm">
                        <label for="deliveryCity" class="form-label">To City:</label>
                        <input class="form-control" type="text" id="deliveryCity" name="deliveryCity" value="<%= rate.consignee.city %>">
                    </div>
                    <div class="input-xs">
                        <label for="deliveryState" class="form-label">To State:</label>
                        <input class="form-control" type="text" id="deliveryState" name="deliveryState" value="<%= rate.consignee.state %>">
                    </div>
                </div>
                <h2>Carrier:</h2>
                <div class="flex-container flex-row flex-start gap-25">
                    <div class="input-md">
                        <label for="dispatchName" class="form-label">Dispatch Name:</label>
                        <input class="form-control" type="text" id="dispatchName" name="dispatchName" value="<%= rate.dispatchName %>">
                    </div>
                    <div class="input-lg">
                        <label for="carrierName" class="form-label">Carrier Name:</label>
                        <input class="form-control" type="text" id="carrierName" name="carrierName" value="<%= rate.carrierName %>" required>
                    </div>
                    <div class="input-sm">
                        <label for="carrierPhone" class="form-label">Carrier Phone #:</label>
                        <input class="form-control" type="text" id="carrierPhone" name="carrierPhone" value="<%= rate.carrierPhone %>">
                    </div>
                    <div class="input-sm">
                        <label for="carrierEquipment" class="form-label">Equipment:</label>
                        <input class="form-control" type="text" id="carrierEquipment" name="carrierEquipment" value="<%= rate.carrierEquipment %>" required>
                    </div>
                </div>
                <div class="flex-container flex-row flex-start gap-25">
                    <div class="input-sm">
                        <label for="asked" class="form-label">Asked:</label>
                        <input class="form-control" type="text" id="asked" name="asked" value="<%= rate.asked %>">
                    </div>
                    <div class="input-sm">
                        <label for="carrierQuoteValue" class="form-label">Quote:</label>
                        <input class="form-control" type="text" id="carrierQuoteValue" name="carrierQuoteValue" value="<%= rate.carrierQuoteValue %>" required>
                    </div>
                    <div class="input-xs">
                        <label for="carrierQuoteCurrency" class="form-label">Currency:</label>
                        <select class="form-select" name="carrierQuoteCurrency" id="carrierQuoteCurrency">
                            <% if (rate.carrierQuoteCurrency === 'CDN') { %>
                                <option value="CDN" selected>CDN</option>
                                <option value="USD">USD</option>
                            <% } else { %>
                                <option value="CDN">CDN</option>
                                <option value="USD" selected>USD</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="input-sm">
                        <label for="carrierQuote" class="form-label">Quote #:</label>
                        <input class="form-control" type="text" id="carrierQuote" name="carrierQuote" value="<%= rate.carrierQuote %>">
                    </div>
                </div>
                <div class="flex-container flex-row flex-start gap-25">
                    <div class="input-xs">
                        <label for="carrierTruck" class="form-label">Truck #:</label>
                        <input class="form-control" type="text" id="carrierTruck" name="carrierTruck" value="<%= rate.carrierTruck %>">
                    </div>
                    <div class="input-xs">
                        <label for="carrierTrailer" class="form-label">Trailer #:</label>
                        <input class="form-control" type="text" id="carrierTrailer" name="carrierTrailer" value="<%= rate.carrierTrailer %>">
                    </div>
                    <div class="input-xs">
                        <label for="pickupDate" class="form-label">Pick-up Date:</label>
                        <input class="form-control" type="text" id="pickupDate" name="pickupDate" value="<%= rate.pickupDate %>">
                    </div>
                    <div class="input-xs">
                        <label for="deliveryDate" class="form-label">Delivery Date:</label>
                        <input class="form-control" type="text" id="deliveryDate" name="deliveryDate" value="<%= rate.deliveryDate %>">
                    </div>
                    <div class="input-xs">
                        <label for="papsPars" class="form-label">PAPS / PARS:</label>
                        <input class="form-control" type="text" id="papsPars" name="papsPars" value="<%= rate.papsPars %>">
                    </div>
                    <div class="input-xs">
                        <label for="crossing" class="form-label">Crossing:</label>
                        <input class="form-control" type="text" id="crossing" name="crossing" value="<%= rate.crossing %>">
                    </div>
                </div>
                <div class="flex-container flex-row flex-start gap-25">
                    <div class="input-lg">
                        <label for="carrierNotes" class="form-label">Notes:</label>
                        <textarea name="carrierNotes" id="carrierNotes" rows="4" cols="" class="form-control"> <%= rate.carrierNotes %></textarea>
                    </div>
                </div>
                <div class="modal-button-group">
                    <button class="modal-button">Submit</button>
                    <div onclick="closeModal('<%= rate._id %>-edit')" class="modal-button">Cancel</div>
                </div>
            </div>
        </form>
    </div>
    <div id="<%= rate._id %>-view" class="modal-frame modal-frame-expanded">
        <div class="modal-header">
            <h2>View Rate</h2>
            <div class="close-button" onclick="closeModal('<%= rate._id %>-view')">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </div>
        <div class="modal-body">
            <h2>Lane:</h2>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-xs">
                    <label for="name" class="form-label">Name:</label>
                    <input class="form-control" type="text" id="name" name="name" value="<%= rate.name %>" readonly>
                </div>
                <div class="input-sm">
                    <label for="quote" class="form-label">Quote #:</label>
                    <input class="form-control" type="text" id="quote" name="quote" value="<%= rate.quote %>" readonly>
                </div>
                <div class="input-sm">
                    <label for="date" class="form-label">Date:</label>
                    <input class="form-control" type="date" id="date" name="date" value="<%= rate.date %>" readonly>
                </div>
                <div class="input-sm">
                    <label for="pickupCity" class="form-label">From City:</label>
                    <input class="form-control" type="text" id="pickupCity" name="pickupCity" value="<%= rate.shipper.city %>" readonly> 
                </div>
                <div class="input-xs">
                    <label for="pickupState" class="form-label">From State:</label>
                    <input class="form-control" type="text" id="pickupState" name="pickupState" value="<%= rate.shipper.state %>" readonly>
                </div>
                <div class="input-sm">
                    <label for="deliveryCity" class="form-label">To City:</label>
                    <input class="form-control" type="text" id="deliveryCity" name="deliveryCity" value="<%= rate.consignee.city %>" readonly>
                </div>
                <div class="input-xs">
                    <label for="deliveryState" class="form-label">To State:</label>
                    <input class="form-control" type="text" id="deliveryState" name="deliveryState" value="<%= rate.consignee.state %>" readonly> 
                </div>
            </div>
            <h2>Carrier:</h2>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-md">
                    <label for="dispatchName" class="form-label">Dispatch Name:</label>
                    <input class="form-control" type="text" id="dispatchName" name="dispatchName" value="<%= rate.dispatchName %>" readonly>
                </div>
                <div class="input-lg">
                    <label for="carrierName" class="form-label">Carrier Name:</label>
                    <input class="form-control" type="text" id="carrierName" name="carrierName" value="<%= rate.carrierName %>" readonly>
                </div>
                <div class="input-sm">
                    <label for="carrierPhone" class="form-label">Carrier Phone #:</label>
                    <input class="form-control" type="text" id="carrierPhone" name="carrierPhone" value="<%= rate.carrierPhone %>" readonly>
                </div>
                <div class="input-sm">
                    <label for="carrierEquipment" class="form-label">Equipment:</label>
                    <input class="form-control" type="text" id="carrierEquipment" name="carrierEquipment" value="<%= rate.carrierEquipment %>" readonly>
                </div>
            </div>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-sm">
                    <label for="asked" class="form-label">Asked:</label>
                    <input class="form-control" type="text" id="asked" name="asked" value="<%= rate.asked %>" readonly>
                </div>
                <div class="input-sm">
                    <label for="carrierQuoteValue" class="form-label">Quote:</label>
                    <input class="form-control" type="text" id="carrierQuoteValue" name="carrierQuoteValue" value="<%= rate.carrierQuoteValue %>" readonly>
                </div>
                <div class="input-xs">
                    <label for="carrierQuoteCurrency" class="form-label">Currency:</label>
                    <select class="form-select" name="carrierQuoteCurrency" id="carrierQuoteCurrency" disabled>
                        <% if (rate.carrierQuoteCurrency === 'CDN') { %>
                            <option value="CDN" selected>CDN</option>
                            <option value="USD">USD</option>
                        <% } else { %>
                            <option value="CDN">CDN</option>
                            <option value="USD" selected>USD</option>
                        <% } %>
                    </select>
                </div>
                <div class="input-sm">
                    <label for="carrierQuote" class="form-label">Quote #:</label>
                    <input class="form-control" type="text" id="carrierQuote" name="carrierQuote" value="<%= rate.carrierQuote %>" readonly>
                </div>
            </div>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-xs">
                    <label for="carrierTruck" class="form-label">Truck #:</label>
                    <input class="form-control" type="text" id="carrierTruck" name="carrierTruck" value="<%= rate.carrierTruck %>" readonly>
                </div>
                <div class="input-xs">
                    <label for="carrierTrailer" class="form-label">Trailer #:</label>
                    <input class="form-control" type="text" id="carrierTrailer" name="carrierTrailer" value="<%= rate.carrierTrailer %>" readonly>
                </div>
                <div class="input-xs">
                    <label for="pickupDate" class="form-label">Pick-up Date:</label>
                    <input class="form-control" type="text" id="pickupDate" name="pickupDate" value="<%= rate.pickupDate %>" readonly>
                </div>
                <div class="input-xs">
                    <label for="deliveryDate" class="form-label">Delivery Date:</label>
                    <input class="form-control" type="text" id="deliveryDate" name="deliveryDate" value="<%= rate.deliveryDate %>" readonly>
                </div>
                <div class="input-xs">
                    <label for="papsPars" class="form-label">PAPS / PARS:</label>
                    <input class="form-control" type="text" id="papsPars" name="papsPars" value="<%= rate.papsPars %>" readonly>
                </div>
                <div class="input-xs">
                    <label for="crossing" class="form-label">Crossing:</label>
                    <input class="form-control" type="text" id="crossing" name="crossing" value="<%= rate.crossing %>" readonly>
                </div>
            </div>
            <div class="flex-container flex-row flex-start gap-25">
                <div class="input-lg">
                    <label for="carrierNotes" class="form-label">Notes:</label>
                    <textarea name="carrierNotes" id="carrierNotes" rows="4" cols="" class="form-control" readonly> <%= rate.carrierNotes %></textarea>
                </div>
            </div>
        </div>
    </div>
<% }) %>

<%- include('partials/footer') %>