<%- include('partials/header') %>

<%- include('partials/nav-panel') %>

<div class="main">
    <form action="" method="POST" autocomplete="off">
        <div class="page-title">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
            </svg>
            New Purchase Order
        </div>
        <div class="purchase-order-body">
            <div class="new-quote-form">
                <div class="flex-container flex-row flex-start gap-25 purchase-order-row">
                    <div class="input-md">                    
                        <label for="poNumber" class="form-label">PO#:</label>
                        <% if (nextPurchaseOrder === '') { %>
                            <input class="form-control" type="text" id="poNumber" name="poNumber" value="<%= nextPurchaseOrder %>" required>
                        <% } else { %>
                            <input class="form-control" type="text" id="poNumber" name="poNumber" value="<%= nextPurchaseOrder %>" readonly required>
                        <% } %>
                    </div>
                    <div class="input-sm">                    
                        <label for="date" class="form-label">Date:</label>
                        <input class="form-control" type="date" id="date" name="date" value="<%= todayDate %>" required>
                    </div>            
                    <div class="input-md">                    
                        <label for="shipVia" class="form-label">Ship Via:</label>
                        <input class="form-control" type="text" id="shipVia" name="shipVia" value="" required>
                    </div> 
                    <div class="input-md">                    
                        <label for="currency" class="form-label">Currency:</label>
                        <select class="form-select" name="currency" id="currency">
                            <option value="CAD">CAD</option>
                            <option value="USD">USD</option>
                        </select>
                    </div> 
                </div>
                <div class="flex-container flex-row flex-row gap-25">
                    <div class="input-xl">
                        <label for="soldTo" class="form-label">Bill To:</label>
                        <select class="form-select" name="soldTo" id="soldTo" required>
                            <% if (defaultInformation.purchasing.billTo.id === '') { %>
                                <option value="" selected></option>
                                <% addressList.forEach((address) => { %>
                                    <option value="<%= address._id %>"><%= address.company %> - <%= address.addressOne %>. <%= address.city %>. <%= address.state %></option>
                                <% }) %>   
                            <% } else { %>
                                <option value=""></option>
                                <% addressList.forEach((address) => { %>
                                    <% if (address._id == defaultInformation.purchasing.billTo) { %>
                                        <option value="<%= address._id %>" selected><%= address.company %> - <%= address.addressOne %>. <%= address.city %>. <%= address.state %></option>
                                    <% } else { %>
                                        <option value="<%= address._id %>"><%= address.company %> - <%= address.addressOne %>. <%= address.city %>. <%= address.state %></option>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <div class="input-xl">
                        <label for="vendor" class="form-label">Vendor:</label>
                        <select class="form-select" name="vendor" id="vendor" required>
                            <% if (defaultInformation.purchasing.vendor.id === '') { %>
                                <option value="" selected></option>
                                <% addressList.forEach((address) => { %>
                                    <option value="<%= address._id %>"><%= address.company %> - <%= address.addressOne %>. <%= address.city %>. <%= address.state %></option>
                                <% }) %>   
                            <% } else { %>
                                <option value=""></option>
                                <% addressList.forEach((address) => { %>
                                    <% if (address._id == defaultInformation.purchasing.vendor) { %>
                                        <option value="<%= address._id %>" selected><%= address.company %> - <%= address.addressOne %>. <%= address.city %>. <%= address.state %></option>
                                    <% } else { %>
                                        <option value="<%= address._id %>"><%= address.company %> - <%= address.addressOne %>. <%= address.city %>. <%= address.state %></option>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>
                    </div>
                    <div class="input-xl">
                        <label for="shipTo" class="form-label">Ship To:</label>
                        <select class="form-select" name="shipTo" id="shipTo" required>
                            <% if (defaultInformation.purchasing.shipTo.id === '') { %>
                                <option value="" selected></option>
                                <% addressList.forEach((address) => { %>
                                    <option value="<%= address._id %>"><%= address.company %> - <%= address.addressOne %>. <%= address.city %>. <%= address.state %></option>
                                <% }) %>   
                            <% } else { %>
                                <option value=""></option>
                                <% addressList.forEach((address) => { %>
                                    <% if (address._id == defaultInformation.purchasing.shipTo) { %>
                                        <option value="<%= address._id %>" selected><%= address.company %> - <%= address.addressOne %>. <%= address.city %>. <%= address.state %></option>
                                    <% } else { %>
                                        <option value="<%= address._id %>"><%= address.company %> - <%= address.addressOne %>. <%= address.city %>. <%= address.state %></option>
                                    <% } %>
                                <% }) %>
                            <% } %>
                        </select>
                    </div>
                </div> 
                <div class="purchase-order-row">
                    <label for="notes" class="form-label">Notes:</label>
                    <textarea class="form-control" name="notes" id="notes" rows="4" maxlength="350"></textarea>
                    <div id="the-count">
                        <span id="wordCount">0</span>
                        <span> / 350</span>
                    </div>
                </div> 
                <div class="purchasing-button-group">
                    <div class="flex-container flex-row flex-end">
                        <button class="options-button">
                            Submit
                        </button>   
                        <a href="/purchasing" class="options-button">
                            Cancel
                        </a>   
                    </div>
                </div>       
            </div>
        </div>
    </form>
</div>

<%- include('partials/footer') %>

<script>


</script>